.wrapper {
  display: flex;
  background-color: #F9F9F9;
}

.formContainer {
  padding: 100px;
  width: 60%;
}

.imageContainer {
  background-image: url("../../images/bg-2.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  display: flex;
}

.inputContainer input,
.form select,
.textarea {
  color: #555555;
  height: 45px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;
  padding: 8px 8px 8px 24px;
  font-size: 0.65em;
  outline: 0;
}

.inputContainer input {
  width: 95%;
}

.inputContainer span,
.textareaSpan {
  font-size: 0.6em;
  color: red;
  text-align: center;
  width: 95%;
  height: 35px;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.inputWrapperSecond {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.form select {
  width: 100%;
  margin-bottom: 35px;
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  resize: none;
  min-height: 200px;
}

.form button {
  width: 210px;
  height: 51px;
  font-size: 0.55em;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d8ae76;
  border: 1px solid #d8ae76;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  outline: 0;
  transition: all 0.4s;
}

.form button:hover {
  background-color: #ca9d62;
}

.error {
  border: 1px solid red !important;
}