.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 45px 0;
}

.ico {
  color: #d8ae76;
  width: 45px !important;
  height: 45px;
}

.textWrapper {
  margin-top: 30px;
}

.header {
  color: #363636;
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
  font-weight: lighter;
  margin-bottom: 20px;
  text-align: center;
}

.paragraph {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

@media (min-width: 800px) {
  .wrapper {
    padding-right: 25px;
    align-items: flex-start;
    width: 50%;
  }

  .header {
    text-align: left;
  }

  .paragraph {
    text-align: left;
  }

}