.headerText {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
}

.paragraphText {
  color: #666666;
  font-size: 18px;
}

.separator {
  width: 50px;
  height: 1px;
  background-color: #d8ae76;
  margin-bottom: 50px;
}