.headerUnactive {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: transparent;
}

.headerActive {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}