.navActive {
  position: absolute;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navUnactive {
  margin: 0;
  display: none;
}

.navButton {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #d8ae76;
  outline: 0;
  cursor: pointer;
}

@media (min-width: 950px) {
  .navActive {
    display: none;
  }

  .navButton {
    display: none;
  }
}