.navActive {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  z-index: 110;
}

.navUnactive {
  margin: 0;
  display: none;
}

.navButton {
  width: 50px;
  height: 40px;
  border: 1px solid #d8ae76;
  border-radius: 5px;
  color: #d8ae76;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

@media (min-width: 950px) {
  .navActive {
    display: none;
  }

  .navButton {
    display: none;
  }
}