.container {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  min-height: 500px;
  background-image: url('../../images/bg-1.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .imageContainer {
    width: 40%;
  }
}